<h1>Entregas</h1>
<table class ="table" *ngIf="entregas$ | async as entregas; else loading">
  <thead>
    <tr>
      <th>Título</th>
      <th>Minutos</th>
      <th>Segundos</th>
      <th>Intérprete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entrega of entregas">
      <td>{{entrega.titulo}}</td>
      <td>{{entrega.minutos}}</td>
      <td>{{entrega.segundos}}</td>
      <td>{{entrega.interprete}}</td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <div>Cargando entregas...</div>
</ng-template>